@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
h1{
color: #022859;
}
h2{
   color:#011126 ; 
}
body {
background-image: linear-gradient(to right, #6B90BF, #022859, #011126);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #000813;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}