@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;

}

body, html 
{
    
    min-height: 100vh;
    background-color: darkgray;
}
header 
{
background-color: black;
color: white;
text-align: center;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);


}
header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
   
    font-variant: small-caps;
    font-size: 10vw;
 
}
header > p {
    padding-bottom: 50px;
    font-family: var(--fonte2);
    font-size: 2vw;
    
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover
{
    text-decoration: underline;
}

.normal 
{
    background-color: white;
    color: black;
    padding: 10vh;
}
.normal > p
 {
font-family: var(--fonte3);
font-size: 5vw;
}

.imagem
{
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(66, 66, 66);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.418);
    color: white;
    padding: 10vh;
}

.imagem > p 
{
    font-family: var(--fonte3);
    background-color: rgba(0, 0, 0, 0.425);
    width: 200px;
    padding: 10px;
    font-size: 5vw;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
#img01 {
background-image: url('../imagens/joaninha.jpg');
background-repeat: no-repeat;

background-position: right center;
}
#img02 
{
    background-image: url( '../imagens/pagina.jpg');
    
    background-position: left center;
}
section > p 
{
padding-bottom: 5em;
}

footer
{
    text-align: center;
    color: white;
background-color: black;
padding: 30px;
}